ion-avatar {
    --border-radius: 50%;
    width: 160px;
    height: 160px;
    border: 3px solid #14248a;
    color: black;
}

ion-card {
    --background: #ece8f2;
}

ion-content {
    --background: #f9f5ff;
}

ion-item{
    --background: white;
    --color: black;
}