#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  #map {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map{
      opacity: 1;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.formulario-animado {
  animation: slideIn 0.5s ease-out;
}

.formulario-oculto {
  animation: slideOut 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// .info-window {
//   background-color: #fff;
//   padding: 10px;
//   border-radius: 5px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   max-width: 300px;
//   text-align: center;
// }

// .info-title {
//   font-weight: bold;
//   margin-bottom: 10px;
// }

// .info-image img {
//   max-width: 100%;
//   border-radius: 5px;
//   margin-bottom: 10px;
// }

// .info-close {
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   padding: 5px 10px;
//   border-radius: 3px;
//   cursor: pointer;
//   font-size: 14px;
// }

// .info-close:hover {
//   background-color: #0056b3;
// }

