ion-content {
    --background: #181818;
    /* Color de fondo */
    color: #ffffff;
    /* Color de texto */
}

ion-button {
    font-size: 16px;
}

.custom-title {
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    /* Color de texto personalizado */
}

.formu {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    flex-direction: column;
    height: 90vh;
    /* Altura del contenido igual a la altura de la ventana */
    gap: 6px;
    /* Espaciado entre los elementos */
}

.file-upload {
    width: 260px;
}

.file-upload .custom-file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-upload ion-label {
    margin-bottom: 28px;
    font-size: 17px;
}

.file-upload ion-icon {
    color: whitesmoke;
    margin-left: auto;
    /* Mueve el ícono hacia la derecha, alineado con el final del texto */
}

/* Estilos para el input file seleccionado */
.file-upload input[type="file"]:not(:disabled):not([readonly]):not([aria-readonly]) {
    border: none;
}

.file-upload input[type="file"]:not(:disabled):not([readonly]):not([aria-readonly])::-webkit-file-upload-button {
    color: #ffffff;
    background-color: #38414e;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.file-upload input[type="file"]:not(:disabled):not([readonly]):not([aria-readonly])::-webkit-file-upload-button:hover {
    background-color: #50617d;
}


// Estilos de VERA
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  ion-content{
    --background:#f9f5ff
  }
  .main {
    max-width: 500px;
    margin: auto;
    background-color: #f9f5ff;
    min-height: 100vh;
    padding: 3rem 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .title {
      color: #28262c;
      font-weight: 800;
      margin-bottom: 1rem;
      text-align: center;
      h2{
        letter-spacing: 5px;
      }
      p{
        font-size: 0.75rem;
        font-weight: 300;
      }
    }
    form {
      width: 100%;
    }
  }
  
  .input-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    input {
      width: 100%;
      border: 1px solid rgb(187, 187, 187);
      border-radius: 10px;
      padding: 0.75rem 0.5rem;
      font-size: 0.75rem;
      ::placeholder {
        font-size: 1px !important;
      }
    }
    label {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      margin-bottom: 5px;
      font-size: 0.75rem;
    }
  }
  
  ion-button {
    --background: #14248a;
  }
  
  .enlace-login {
    font-size: 0.75rem;
    text-align: center;
    margin: 0.5rem 0;
    span {
      color: #14248a;
      a {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .mensaje-error {
    color: red;
    font-size: 0.75rem;
  }
  
  .redes-sociales {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    div {
      padding: 0.5rem;
      border-radius: 10px;
      text-align: center;
      vertical-align: middle;
      i{
          color: white;
      }
      img {
        width: 2rem;
        height: 2rem;
      }
    }
    .facebook {
      //background-color: rgb(59, 89, 152);
    }
  }
  
  
  .mi-nueva-clase{
    display: none;
  }